@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  user-select: none;
}

html {
  background: #edc;
	color: #333;
  font-size: 24px;
}

a,
p {
	color: inherit;
  font: inherit;
  text-decoration: none;
}

.wrapper {
  position: absolute;
  left: 50%;
  top:  50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav > a {
  padding: 0.5rem 0.5rem;
  border: 4px solid #edc;
  margin-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.nav > a:first-child {
  margin-top: 0;
}

.nav > a[data-current="true"] {
  border-color: #333;
}

.nav > a:hover {
  border-color: #333;
  background: #333;
  color: #edc;
}

h1,
a {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

p {
  font-family: Cabin, sans-serif;
}

a:hover {
	cursor: pointer
}

@media all and (orientation:portrait) {
  .wrapper {
    width: 80vw;
    flex-direction: column;
  }

	.nav {
		padding-bottom: 2.5vw;
		margin-bottom : 2.5vw;
		border-bottom: #333 solid 4px;
		display: flex;
	}

  .main {
    padding: 5vw;
  }
}

@media all and (orientation:landscape) {
	.nav {
		padding-right: 2.5vw;
		margin-right : 2.5vw;
		border-right: #333 solid 4px;
    flex-direction: column;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
